<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
    />
    <title>Home</title>
    <style>
      .buttonCus{
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }
      .buttonCus:hover{
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      }
    </style>
  </head>
  <body>
    <div id="header">
      <div class="ui borderless main menu">
        <div class="ui text container">
          <a class="header item" href="/home">
            <img
              class="logo"
              src="https://image.flaticon.com/icons/png/512/1465/1465589.png"
            />
            FTPClient
          </a>
          <a data-toggle="modal" href="#modal1" class="item">Add folder</a>
          <a data-toggle="modal" href="#modal2" class="item">Upload file</a>
          <a href="/logout" class="item right">
            Logout
          </a>
        </div>
      </div>
      <br />
    </div>
    <div class="container" id="app" style="max-width: 1300px;">
      <div class="ui link cards">
        <div class="card" th:each="tempFile : ${files}">
          <a
            class="image"
            th:href="@{/folder(path=${tempFile.path})}"
            th:if="${tempFile.type == 'folder'}"
          >
            <img
              src="https://image.freepik.com/free-vector/illustration-data-folder-icon_53876-6329.jpg"
            />
          </a>
          <a class="image" th:if="${tempFile.type == 'pdf'}">
            <img src="https://img.icons8.com/plasticine/2x/file.png" />
          </a>
          <a class="image" th:if="${tempFile.type == 'file'}">
            <img src="https://cdn3.iconfinder.com/data/icons/brands-applications/512/File-512.png" />
          </a>
          <a class="image" th:if="${tempFile.type == 'rar'}">
            <img src="https://cdn0.iconfinder.com/data/icons/iconshock-windows7-icons/256/rar.png" />
          </a>
          <a class="image" th:if="${tempFile.type == 'exe'}">
            <img src="http://www.iconarchive.com/download/i83606/pelfusion/flat-file-type/exe.ico" />
          </a>
          <div class="content">
            <div class="header" th:text="${tempFile.name}"></div>
            <div class="meta">
              <a th:if="${tempFile.type != 'folder'}"
              th:text="${tempFile.size}"></a>
            </div>
          </div>
          <div class="extra content">
            <a th:href="@{/delete(path = ${tempFile.path}, name= ${tempFile.name})}">
              <i class="times circle icon"></i>
              Delete
            </a>

            <a
              style="margin-left: 28px;"
              th:attr="onclick='rename(\''+${path}+'\',\''+${tempFile.name}+'\');'"
            >Rename</a>
            
            <a
              class="right floated"
              th:href="@{/download(path = ${tempFile.path}, name= ${tempFile.name})}"
              th:if="${tempFile.type != 'folder'}"
            >
            <i class="download icon right floated"></i>
              Download
            </a>
            
          </div>
        </div>
      </div>
    </div>

    <a data-toggle="modal" href="#modal3" class="item" style="display: none;" id="renameModal"></a>


    <!-- Modal create folder-->
    <div
      class="portfolio-modal modal fade"
      id="modal1"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <h2 class="text-uppercase">Add folder</h2>
                  Path:<p class="item-intro text-muted" th:text="${path}" id="pathFolder" style="display: inline;">
                  </p>
                  <input type="text" placeholder="Folder name" id="folderName"></input>
                  <input type="text" id="folderPath" th:value="${path}" style="display: none;"></input>
                  <button
                    class="btn btn-primary"
                    data-dismiss="modal"
                    type="button"
                    onclick="newFolder()"
                  >
                    <i class="fas fa-times"></i>
                    Save
                  </button>
                  <br>
                  <br>
                  <br>
                  <button
                    class="btn btn-info"
                    data-dismiss="modal"
                    type="button"
                    style="margin-left: 30%;"
                  >
                    <i class="fas fa-times"></i>
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>   
        </div>
      </div>
    </div>

    <!-- Modal upload file -->
    <div
      class="portfolio-modal modal fade"
      id="modal2"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-12 mx-auto">
                <div class="modal-body">
                  <h2 class="text-uppercase" style="text-align: center;">Upload file</h2>
                  <div class="container">
                    <form th:object="${FileUpload}" action="/upload" method="POST" enctype="multipart/form-data">
                      <br />
                      <input name="pathToFolder" th:value="${path}" style="display: none;"></input>
                      <br>
                      File to upload: <input type="file" id="i_file" name="fileName" />
                      <input type="text" name="pathToFile" id="path" style="display: none;" >
                      <input class="buttonCus" type="submit"   style="margin-left: 147px; margin-top: 50px;"></input>
                    </form>
                    <br>
                    <br>
                  </div>

                  <button
                    class="btn btn-info"
                    data-dismiss="modal"
                    type="button"
                    style="margin-left: 40%;"
                  >
                    <i class="fas fa-times"></i>
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>   
        </div>
      </div>
    </div>

    <!-- Modal rename file -->
    <div
      class="portfolio-modal modal fade"
      id="modal3"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-12 mx-auto">
                <div class="modal-body">
                    <h2 class="text-uppercase" style="text-align: center;">Rename</h2>
                  <div class="container">
                    <input type="text" id="newName" style="margin-left: 100px; width: 200px;">
                  </div>
                  <br>
                  <button
                    class="btn btn-info"
                    data-dismiss="modal"
                    type="button"
                    style="display: inline; margin-left: 300px;"
                    onclick="changeName()"
                  >
                    <i class="fas fa-times"></i>
                    Change
                  </button>
                  <button
                    class="btn"
                    data-dismiss="modal"
                    type="button"
                    style="display: inline; background-color: aliceblue;"
                  >
                    <i class="fas fa-times"></i>
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>   
        </div>
      </div>
    </div>


    <script>
      var path;
      var name;
      function rename(s,i){
        path = s;
        name = i;
        placeName = name;
        if(name.includes(".")) placeName = name.substr(0,name.length-4);
        document.getElementById("newName").setAttribute("value",placeName);
        document.getElementById("renameModal").click();
      }

      function changeName(){
        let newName = document.getElementById("newName").value;
        if(newName.trim() != ""){
          if(name.includes("."))
            newName = newName + name.substr(name.length-4);
          location.href = "/rename?path="+path+"&oldname="+name+"&newname="+newName;
        }
      }

      function newFolder(){
        var folderName = document.getElementById('folderName').value;
        var folderPath = document.getElementById('folderPath').value;
        location.href = `/newfolder?name=${folderName}&path=${folderPath}`;
      }

      $('#i_file').change( function(event) {
        console.log(event.target.value.split('\\').pop());
        document.getElementById("path").setAttribute("value", event.target.value.split('\\').pop());
      });
    </script>
  </body>
</html>
